.center {
    text-align: center;
}

h1{
    font-size: 1.5em !important;
}
img{
    width: 500px;
    height: 500px;
}
#img3{
    transform: rotate(-180deg);
}
#img4{
    transform: rotate(-180deg);
}
a{
    color: white !important; 
}