iframe{
    margin: auto;
    width: 100%;
    height:700px;
}
.hov{
    border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
}
p{
    top:auto;
    text-align: center;
    font-size: 50px;
}
.hov:hover{
    background-color: red;
}
#hovrandom{
    border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
}


.hov2:hover {
	
    background: rgba(red, 0);
    font-weight: 900;
    letter-spacing: 1px;
}
.hov1:hover {
	animation: bounce 1s;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
	}
}
.hov3:hover {
    transform: skew(-10deg);
    }
.hov4:hover{

        color: #f2f2f2;
        box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);

}
.wrapper { 
    overflow: hidden; 
    display: block; 
    width: 100%; 
    user-select: none; 
} 
.pj {
    position: absolute;
    background: url(../img/run.png);
    top: -160px;
    left: -180px;
    width: 579px;
    height: 763px;
    z-index: 3;
    transform: scale(0.4, 0.4);
    animation: playXrun 0.5s steps(4) infinite, playYrun 1s steps(2) infinite;
}
@keyframes playXrun {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: -2316px;
    }
}

@keyframes playYrun {
    from {
        background-position-y: 0px;
    }

    to {
        background-position-y: -1526px;
    }
}
